:root{
    --color-white: rgb(255, 255, 255);
    --color-white-ahlpa: rgba(255, 255, 255, 0.2);

    --color-gray: rgb(230, 231, 232);
    --color-gray-1: rgb(204, 204, 204);
    --color-gray-2: rgb(179, 179, 179);
    --color-gray-3: rgb(153, 153, 153);

    --color-dark-1: rgb(90, 90, 90);
    --color-dark-2: rgb(56, 56, 56);
    --color-dark-3: rgb(45, 45, 45);
    --color-dark-4: rgb(0, 0, 0);

    --color-primary: rgb(144, 204, 116);
    --color-primary-1: rgb(106, 179, 72);
    --color-primary-2: rgb(0, 153, 51);
    --color-primary-3: rgb(0, 117, 39);

    --color-second: rgb(240, 81, 165);
    --color-second-1: rgb(242, 14, 136);
    --color-second-2: rgb(207, 12, 116);
    --color-second-3: rgb(148, 10, 84);

    --color-third: rgb(109, 76, 231);
    --color-third-1: rgb(80, 38, 230);
    --color-third-2: rgb(66, 31, 190);
    --color-third-3: rgb(52, 25, 150);
    --color-third-4: rgb(17, 4, 65);

    --color-alert: rgb(242, 14, 136);

    --primary-color: var(--color-primary-1);
    --second-color: var(--color-primary-3);
    --third-color: var(--color-primary-2);
}

/* PRIMARY BACKGROUND */
.primary-bg{
    background-color: var(--color-primary);
}
.primary-bg-1{
    background-color: var(--color-primary-1);
}
.primary-bg-2{
    background-color: var(--color-primary-2);
}
.primary-bg-3{
    background-color: var(--color-primary-3);
}

/* PRIMARY TEXT */
.primary-text{
    color: var(--color-primary);
}
.primary-text-1{
    color: var(--color-primary-1);
}
.primary-text-2{
    color: var(--color-primary-2);
}
.primary-text-3{
    color: var(--color-primary-3);
}

/* FUSCHIA BACKGROUND */
.second-bg{
    background-color: var(--color-second);
}
.second-bg-1{
    background-color: var(--color-second-1);
}
.second-bg-2{
    background-color: var(--color-second-2);
}
.second-bg-3{
    background-color: var(--color-second-3);
}

/* FUSCHIA TEXT */
.second-text{
    color: var(--color-second);
}
.second-text-1{
    color: var(--color-second-1);
}
.second-text-2{
    color: var(--color-second-2);
}
.second-text-3{
    color: var(--color-second-3);
}

/* THIRD BACKGROUND */
.third-bg{
    background-color: var(--color-third);
}
.third-bg-1{
    background-color: var(--color-third-1);
}
.third-bg-2{
    background-color: var(--color-third-2);
}
.third-bg-3{
    background-color: var(--color-third-3);
}
.third-bg-4{
    background-color: var(--color-third-4);
}
/* BLUE TEXT */
.third-text{
    color: var(--color-third);
}
.third-text-1{
    color: var(--color-third-1);
}
.third-text-2{
    color: var(--color-third-2);
}
.third-text-3{
    color: var(--color-third-3);
}
.third-text-3{
    color: var(--color-third-4);
}


.gradien-3color{
    background: var(--primary-color);
    background: -moz-linear-gradient(-45deg, var(--primary-color) 0%, var(--second-color) 43%, var(--third-color) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--primary-color)), color-stop(43%, var(--second-color)), color-stop(100%, var(--third-color)));
    background: -webkit-linear-gradient(-45deg, var(--primary-color) 0%, var(--second-color) 43%, var(--third-color) 100%);
    background: -o-linear-gradient(-45deg, var(--primary-color) 0%, var(--second-color) 43%, var(--third-color) 100%);
    background: -ms-linear-gradient(-45deg, var(--primary-color) 0%, var(--second-color) 43%, var(--third-color) 100%);
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--second-color) 43%, var(--third-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc81f', endColorstr='#5026e6', GradientType=1 );
}

body,
.gradien-2color{
    background: var(--primary-color);
    background: -moz-linear-gradient(-45deg, var(--primary-color) 0%, var(--second-color) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--primary-color)),color-stop(100%, var(--second-color)));
    background: -webkit-linear-gradient(-45deg, var(--primary-color) 0%,  var(--second-color) 100%);
    background: -o-linear-gradient(-45deg, var(--primary-color) 0%, var(--second-color) 100%);
    background: -ms-linear-gradient(-45deg, var(--primary-color) 0%, var(--second-color) 100%);
    background: linear-gradient(135deg, var(--primary-color) 0%,var(--second-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc81f', endColorstr='#5026e6', GradientType=1 );
}

.gradien-FB{
    background: var(--primary-color);
    background: -moz-linear-gradient(-45deg, var(--primary-color) 0%, var(--second-color) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--primary-color)), color-stop(100%, var(--second-color)));
    background: -webkit-linear-gradient(-45deg, var(--primary-color) 0%,  var(--second-color) 100%);
    background: -o-linear-gradient(-45deg, var(--primary-color) 0%, var(--second-color) 100%);
    background: -ms-linear-gradient(-45deg, var(--primary-color) 0%, var(--second-color) 100%);
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--second-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc81f', endColorstr='#5026e6', GradientType=1 );
}