.content-sub-page{
    display: block;
    box-sizing: content-box;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.loanding{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top:0;
    left:0;
    z-index: 100;
}

.subloanding{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, .8);
    top:0;
    left:0;
    z-index: 100;
}

.page-header .ant-btn-primary{
    background-color: var(--color-second-2) !important;
    border-color: var(--color-second-2) !important;
}

.page-header .ant-btn-primary:hover {
    background-color: var(--color-primary-2) !important;
    border-color: var(--color-primary-3) !important;

}

.ant-collapse-content .ant-table-fixed 
.ant-btn-primary{
    background-color: var(--color-primary-3) !important;
    border-color: var(--color-primary-3) !important;
}

.ant-page-header-heading-extra{
    text-align: right;
}

.content-sub-page
.ant-collapse-content > .ant-collapse-content-box {
    padding: 0 !important;
}

.ant-table-thead{

}
.ant-table-thead > tr > th {
    background: var(--color-primary-3) !important;
    color: var(--color-white) !important;
}
.content-sub-page .ant-collapse-content 
.ant-table-fixed{

}