.ant-btn.ant-btn-circle > .anticon{
    line-height: 1.3;
}
.ant-btn.ant-btn-primary,
.ant-btn.ant-btn-primary.ant-btn-circle.ant-btn-icon-only{
    background-color: var(--color-primary-1);
    border: 0  !important;
}

.ant-btn.ant-btn-danger.ant-btn-circle.ant-btn-icon-only{
    background-color: var(--color-second-1);
    border: 0  !important;
}
.ant-btn.ant-btn-primary:hover,
.ant-btn.ant-btn-primary.ant-btn-circle:hover{
    background-color: var(--color-primary-2);
    border-color: none;
}
.content-sub-page{
    display: block;
    box-sizing: content-box;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.loanding{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top:0;
    left:0;
    z-index: 100;
}

.subloanding{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, .8);
    top:0;
    left:0;
    z-index: 100;
}

.page-header .ant-btn-primary{
    background-color: var(--color-second-2) !important;
    border-color: none !important;
}

.page-header .ant-btn-primary:hover {
    background-color: var(--color-primary-2) !important;
    border-color: none !important;

}

.ant-collapse-content .ant-table-fixed 
.ant-btn-primary{
    background-color: var(--color-primary-3) !important;
    border-color: none !important;
}

.ant-page-header-heading-extra{
    text-align: right;
}

.content-sub-page
.ant-collapse-content > .ant-collapse-content-box {
    padding: 0 !important;
}


.ant-table-thead > tr > th {
    background: var(--color-primary-3) !important;
    color: var(--color-white) !important;
}


.editable-cell {
    position: relative;
}
  
.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}
  
.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    color: white !important;
    background: var(--color-primary-3) !important;
}

.ant-tabs-tab:hover{
    color: var(--color-primary-3) !important;
    font-weight: 500;
}

.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, 
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, 
.ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, 
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    background: var(--color-gray) !important;
}

.input-create-schema
.ant-switch-inner {
    font-size: 16px !important;
}


.input-create-schema
.ant-row.ant-form-item{
    margin-bottom: 13px;
}

.input-create-schema
.row-filds{
    padding: 5px 10px;
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(200, 200, 200, 0.8);
}

.input-create-schema
.row-filds:hover,
.input-create-schema
.row-filds:focus{
    background-color: rgba(200, 200, 200, 0.287);
    border: 1px solid rgba(155, 155, 155, 0.8);
}

.list-validation,
.sub-validation ul li{
    padding: 10px;
    display: block;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}


.list-validation .sub-validation,
.list-validation .sub-validation > .ant-checkbox-wrapper{
    display: block;
    background-color: rgba(238, 238, 238, 0.233);
}

.list-validation .sub-validation{
    margin: 5px 0;
    border: 1px solid var(--color-gray);
    border-radius: 5px;
}

.list-validation .sub-validation > .ant-checkbox-wrapper{
    padding: 10px;
    
}

.list-validation  .sub-validation.header > .ant-checkbox-wrapper{
    background-color: var(--color-primary-1);
}

.list-validation .sub-validation:hover{
    cursor: pointer;
    background-color: rgba(223, 223, 223, 0.68);
}

.list-validation .sub-validation ul{
    display: block;
    margin: 0;
    padding-left: 10px;
}
.list-validation .sub-validation ul.active{
    display:none;
}