@media only screen and (max-width: 576px) {
    .hidden-xs{
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    .hidden-md{
        display: none !important;
    }
    .dashboard .ant-layout-sider{
        top: 0;
        left: 0;
        position: fixed !important;
        background-color: rgba(0, 0, 0, 0.8);
        min-height: 100vh;
        max-width: 100% !important;
        min-width: 100% !important;
        width: 100% !important;
        z-index: 800;
    }
    .dashboard .ant-layout-sider.ant-layout-sider-collapsed{
        top: 0;
        left: -250px;
        max-width: 200px !important;
        min-width: 200px !important;
        width: 200px !important;
    }
    .ant-layout-sider
    .close-sider{
        top: 0px;
        right: 0px;
        height: 100vh;
        display: block;
        width: calc(100% - 200px);
        position: absolute !important;
        font-size: 24px;
        z-index: 900;
        cursor: pointer !important;
    }
    .ant-layout-sider
    .close-sider i{
        top: 10px;
        right: 10px;
        position: absolute;
        color: var(--color-white);
    }
    .ant-layout-sider .ant-layout-sider-children{
        min-height: 100vh !important;
        max-width: 200px !important;
        min-width: 200px !important;
        width: 200px !important;
    }
}

@media only screen and (max-width: 992px) {
    .hidden-lg{
        display: none !important;
    }
}


/*Media auth*/

@media only screen and (max-height: 510px) {
    .hidden-lg{
        display: none !important;
    }
    .card-auth{
        height: 340px !important;
        width: 90%;
        min-width: 540px;
        max-width: 740px;
        margin: calc(50vh - (340px / 2)) auto;
        display: grid !important;
        position:relative;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0px;
        grid-auto-rows: minmax(100%, auto);
    }
    .card-auth .logo-auth{
        grid-column: 1;
        grid-row: 1;
        text-align:center;
        border-radius: 10px 0 0 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 200%;
        
    }
    .card-auth 
    .logo-auth img{
        width: var(--sizeLogo);
        height:var(--sizeLogo);
        margin: calc(50% - ((var(--sizeLogo) / 2)- var(--heightTabs)) ) auto;
    }

    .card-auth.signup 
    .logo-auth{
        background-image: url(../resources/images/other/bg13.jpg);
    }
    /*
    Foto de NESA por Makers en Unsplash
    */
    .card-auth.signin 
    .logo-auth{
        background-image: url(../resources/images/other/bg14.jpg);
    }

    .card-auth.verify 
    .logo-auth{
        background-image: url(../resources/images/other/bg15.jpg);
    }

    .card-auth.verify 
    .logo-auth img {
        width: var(--sizeLogo);
        height: var(--sizeLogo);
        margin: calc(59% - (var(--sizeLogo) / 2)) auto;
    }
    .tabs-auth ul{
        margin: auto;
        width: 210px !important;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .tabs-auth ul li,
    .tabs-auth ul li a{
        border-radius: 10px ;
    }
    .tabs-auth ul li:nth-last-child(2){
        margin-left: -6px;
    }
    .tabs-auth ul li.active,
    .tabs-auth ul li:focus,
    .tabs-auth ul li a.active,
    .tabs-auth ul li a:focus,
    .tabs-auth ul li a:focus{
        color: var(--color-primary-1) !important;
    }

    .tabs-auth ul li:hover,
    .tabs-auth ul li a:hover{
        color: var(--color-second-1) !important;
    }

    .card-auth .container-auth{
        height: auto;
        grid-column: 2/6;
        grid-row: 1;
        text-align:center;
        border-radius: 0 10px 10px 0;
    }

}
