:root{
    --CardCube: 180px;
}
.card-dash-button {
    width: var(--CardCube);
    height: var(--CardCube);
    display: inline-block !important;
    margin: 7px !important;
    padding: 0px;
    border-bottom: 2px solid var(--color-second-1);
    
}

.card-dash-button .card-action {
    padding: 5px;
    font-size: 18px;
    color: var(--color-white);
    background-color: var(--color-second-2);
    border-radius: 50%;
    margin: 3px 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}

.card-dash-button .card-action:hover {
    background-color: var(--color-second-3);
}

.card-dash-button,
.card-dash-button a{
    /*display: inline-grid;*/
    position: relative;
    box-sizing: content-box;
    border-radius: 5px 20px 5px 5px;
    cursor: pointer;
    background-color: var(--color-gray);
}
.card-dash-button a{
    width: 100%;
    height: 100%;
    color: var(--color-dark-4);
    background-color: var(--color-gray);
    color: var(--color-second-1);
}


.card-dash-button:hover,
.card-dash-button .card-action:hover{
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}
.card-dash-button a:hover .circle{
    color: var(--color-white);
    background-color: var(--color-primary-3);
}
/*circle Icon */
.card-dash-button .circle{
    background-color: var(--color-white);
    margin: 20px auto;
}
.card-dash-button .circle i.anticon {
    font-size: 2.0em;
    padding: 10px 11px;
}
/*info */
.card-dash-button .card-info .title{
    text-transform: uppercase;
    text-align: center;
    color: var(--color-primary-3);
    font-weight: 600;
}

.card-dash-button .card-info .description{
    text-transform: capitalize;
    text-align: center;
    color: var(--color-gray-3);
    font-weight: 600;
    font-size: 0.8em;
}