:root{
    --heightauth:500px;
    --heightFooter:70px;
    --heightTabs:50px;
    --heightLogo: (130px + var(--heightTabs));
    --heightConent:calc(100% - (var(--heightLogo) + var(--heightFooter)));
    --colorTabs: var(--color-gray-3);
}

.card-auth{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    display: block;
    margin: calc(50vh - 260px) auto;
    background-color: var(--color-white);
}

.card-auth.signin{
    height: var(--heightauth);
}

.card-auth.signup{
    height: 580px;
    margin: calc(50vh - 290px) auto;
}

.card-auth .logo-auth {
    height: var(--heightLogo);
    width: 100%;
    text-align: center;
}

.card-auth 
.logo-auth img{
    width: 90px;
    margin: 10px auto;
}

/*style tabs*/
.card-auth
.tabs-auth{
    width: 100%;
    height: var(--heightTabs);
    text-align: center;
}

.tabs-auth ul,
.tabs-auth ul li{
    margin: 0;
    padding: 0;
    border-radius: 10px ;
}

.tabs-auth ul li {
    display: inline-block;
    list-style: none;
    font-size: 1.3em !important;
    color: var(--colorTabs) !important;
}

.tabs-auth ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: var(--colorTabs) !important;
}

.tabs-auth ul li.active,
.tabs-auth ul li:focus,
.tabs-auth ul li a.active,
.tabs-auth ul li a:focus,
.tabs-auth ul li a:focus{
    color: var(--color-primary-1) !important;
}

.tabs-auth ul li:hover,
.tabs-auth ul li a:hover{
    color: var(--color-second-1) !important;
}

/*style container*/
.card-auth
.container-auth{
    height: var(--heightConent);
    padding: 10px 20px;
}
/*style footer*/
.card-auth
.footer-auth{
    height: var(--heightFooter);
    border-top: 1px solid var(--color-gray);
    text-align: center;
}

.footer-auth button{
    height: 40px;
    width: 40px;
    margin: calc((var(--heightFooter) / 2) - 20px) 5px;
}

.footer-auth button:hover,
.footer-auth button:focus{
    color: var(--color-second-2);
    border-color: var(--color-second-1);
}
